<ion-header>
  <ion-navbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label floating>Nome completo</ion-label>
      <ion-input #nome formControlName="nome" type="text" [class.invalid]="!signupForm.controls.nome.valid && signupForm.controls.nome.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.nome.valid  && signupForm.controls.nome.dirty">
      <p>Use apenas letras.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Data de nascimento</ion-label>
      <ion-datetime #nasc displayFormat="DD/MM/YYYY" formControlName="nasc" [class.invalid]="!signupForm.controls.nasc.valid && signupForm.controls.nasc.dirty"></ion-datetime>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.nasc.valid  && signupForm.controls.nasc.dirty">
      <p>Selecione sua data de nascimento.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input #email formControlName="email" type="email" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Digite um e-mail válido.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input #password formControlName="password" type="password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>A senha deve ter mais de 6 caracteres.</p>
    </ion-item>

    <button style="margin-top: 48px !important;" ion-button full type="submit">Cadastrar</button>

  </form>

  <button ion-button full (click)="facebookLogin()" style="background: #3b5998;">Cadastrar com o Facebook</button>
</ion-content>
