*{
  font-family: 'Lato', sans-serif;
  font-weight:300;
}

.toolbar-background {
  background-color: transparent;
}

.menu-inner .icon{
  color:#652C90;
}

.menu-inner .label{
  color:#666666;
}

.segment-md .segment-button{
  min-height: 56px;
  line-height: 5em;
  color: white;
}

.segment-md .segment-button.segment-activated{
  border-color: white;
}

.toolbar {
  background-color: #652C90;
}

.toolbar-ios{
  background-color: white;
}

.toolbar-wp{
  background-color: white;
}

.toolbar-title-md, .bar-button-default-md {
  color: white;
}
.toolbar-title-ios, .bar-button-default-ios, .toolbar-title-wp, .bar-button-default-wp {
  color: #652C90;
}

.ios ion-navbar ion-icon, .wp ion-navbar ion-icon {
  color: #652C90;
}

.md ion-navbar ion-icon {
  color: white;
}

.tab-button-text{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#button-qrcode{
  background-color: #652C90;
  border-radius: 50%;
  position: absolute;
  width: 78px;
  height: 78px;
  left: calc(50% - 41px);
  bottom: -2px;
  z-index: 2;
}

#button-qrcode ion-icon{
  color: white !important;
  font-size: 2.5em;
}

#fundo_tabs{
  position:absolute;
  width: 100%;
  height: 100%;
  left:0px;
  top:0px;
  background-color: rgba(255,255,255,0.65);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

#fundo_tabs .prin{
  position: absolute;
  width: calc(100% - 64px);
  text-align: center;
  margin: 32px;
  bottom: 150px;
}
#fundo_tabs .prin h2{
  font-family: 'Lato', sans-serif;
  font-weight:900;
}
#fundo_tabs .prin h4{
  font-family: 'Lato', sans-serif;
  font-weight:400;
  margin-bottom: 32px;
}
#fundo_tabs img{
  position: absolute;
  width: 79px;
  left: 32px;
  bottom: 60px;
}

#cont{
  filter:blur(0px);
  transition: filter 0.5s ease-in;
}

page-tabs {
  .logo_main{
    position:absolute;
    width:100%;
    height:34px;
    margin-top:4px;
    margin-left:-60px;
    top:8px;
  }

  .toolbar-content-ios .logo_main {
    top: 18px;
  }

  .toolbar-content-wp .logo_main {
    top: 16px;
  }

  .logo_main img{
    display:block;
    margin:0px auto;
    height:34px;
    width:auto;
  }
}
