<ion-header>

  <ion-navbar>
    <ion-title>Adicionar administradores</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="search" (ionInput)="updateSearch()"></ion-searchbar>
  <div class="breve" *ngIf="carregando" style="width:100%;">
    <div class="txt_breve" style="width:100%;"><img src="assets/loading.gif" style="width:150px;margin:0px auto;"></div>
  </div>
  <div class="breve" *ngIf="groupedContacts.length == 0" style="width:100%;">
    <div class="txt_breve" style="width:100%;">Nenhum usuário encontrado.</div>
  </div>
  <ion-item-group *ngFor="let group of groupedContacts">
    <ion-item-divider light>{{group.letter}}</ion-item-divider>
    <div *ngFor="let usu of group.nomes">
      <button ion-item (click)="addAdm(usu)">
        <ion-avatar item-start>
          <img src="{{usu[1]}}">
        </ion-avatar>
        {{usu[0]}}
      </button>
    </div>
  </ion-item-group>
  <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
