page-event-detail {
  .toolbar{
    background-color: transparent;
    z-index: 500;
  }
  .scroll-content{
    margin-top: 0px !important;
  }

  #title{opacity:0;}

  .header:after{background: transparent;}

  .button-inner{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  .header_event {background-size:cover;background-position:center;color:white;float:left;width:100%;}
  .fundo_event {background-color:#652C90;float:left;width:100%;}

  .fundo_card{float:left;width:100%;background-image:linear-gradient(rgba(109,95,119,0.5),rgba(109,95,119,0.9));padding:16px;padding-top:72px;}
  .fundo_card .amigos_list{float:left;font-size:1em;width:48px;}
  .fundo_card .amigos_list img{float:left;width:100%;}
  .fundo_card .info_list{float:right;font-size:1em;}
  .fundo_card .info_list .icon_list{float:right;padding-bottom:8px;clear: both;}
  .fundo_card .info_list .icon_list div{float:right;}
  .fundo_card .info_list .icon_list ion-icon{float:right;margin-left:8px;}
  .fundo_card .bottom_list{float:left;width:100%;margin-top:64px;}
  .fundo_card .bottom_list .top{float:left;width:80px;}
  .fundo_card .bottom_list .top .block{float:left;margin-left:10px;width:8px;height:8px;background-color:#652C90;}
  .fundo_card .bottom_list .top .block:last-child{float:left;margin-left:44px;}
  .fundo_card .bottom_list .date_list{float:left;background-color:#652C90;border-radius:5px;width:80px;}
  .fundo_card .bottom_list .date_list .mes_list{float:left;font-size:1.2em;width:100%;text-align:center;font-family:'Lato', sans-serif;font-weight:400;line-height:1em;padding:6px;}
  .fundo_card .bottom_list .date_list .dia_list{float:left;clear:both;width:calc(100% - 16px);text-align:center;font-size:2.3em;line-height:1em;font-family:'Lato', sans-serif;font-weight:900;margin-left:8px;margin-right:8px;padding:6px;border-radius:5px;background-color:white;color:#652C90;}
  .fundo_card .bottom_list .date_list .hr_list{float:left;clear:both;width:100%;text-align:center;line-height:1em;padding:6px;}
  .fundo_card .bottom_list .present_list{display:table-cell;vertical-align:middle;width:calc(100% - 96px);padding-left:16px;}
  .fundo_card .bottom_list .present_list .name_event{float:left;font-size:1.7em;line-height:1.2em;font-family:'Lato', sans-serif;font-weight:400;}
  .fundo_card .bottom_list .present_list .name_create{float:left;clear:both;font-size:1.2em;line-height:1.5em;}
  .fundo_card .bottom_list .present_list .name_locale{float:left;clear:both;font-size:1em;line-height:1.5em;}

  .estab_perfil{float:left;width:100%;padding:8px;border-bottom: 1px solid #D2D2D2;}
  .estab_perfil .info_estab{float:left;display:table;max-width:calc(100% - 120px);}
  .estab_perfil .info_estab .ft_perfil_estab{display:table-cell;vertical-align:middle;width:30px;height:30px;border-radius:50%;background-position:center;background-size:cover;}
  .estab_perfil .info_estab .name_estab{display:table-cell;vertical-align:middle;padding-left:8px;font-size:1.2em;}
  .estab_perfil .ava_estab{float:right;display:table;height:30px;}
  .estab_perfil .ava_estab ion-icon{display:table-cell;vertical-align:middle;padding:2px;color:#DFCA23;}

  .tabs_event{
    float: left;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #D2D2D2;
    z-index: 10;
  }
  .content-md .tabs_event{
    top: 18px;
  }
  .content-ios .tabs_event{
    top: 6px;
  }
  .tab_event {
    float: left;
    width: 50%;
    text-align: center;
    color: #652C90;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
    font-weight:400;
  }
  .header-ios .toolbar-ios:last-child .toolbar-background-ios{
    border-width: 0px;
  }
  .toolbar-title-ios, .bar-button-default-ios{
    color: white;
  }
  ion-navbar .icon-ios{
    color: white !important;
  }

  ion-label {
    white-space: normal;
  }

  .lab{
    font-size: 0.9em;
    color: #652C90;
  }
  .cont{
    padding: 4px 16px;
  }

  .deta{
    float: left;
    width: 100%;
    margin-top: 16px;
  }
  .detalhe{
    display: inline-block;
    margin: 4px;
  }
  .tamanho_nota{
    position: absolute;
    margin: -2px;
    background-color: rgba(101,44,144,0.5);
    border-radius: 50%;
  }
  .icon_detalhe{
    position: absolute;
    margin-top: 8px;
    z-index: 5;
    margin-left: 20px;
    font-size: 0.7em;
  }
  .nome_detalhe{
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 0.8em;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 50px;
  }
  .nota_detalhe{
    font-size: 1em;
    display: table-cell;
    vertical-align: middle;
    padding-top: 12px;
  }
  .nota_detalhe ion-icon{
    font-size: 0.7em;
    margin-left: 4px;
  }

  .radial-progress {
  	$circle-size: 50px;
  	$circle-background: rgba(101,44,144,0.2);
  	$circle-color: rgba(101,44,144,1);
  	$inset-size: 46px;
  	$inset-color: #FFF;
  	$transition-length: 1s;

  	width:  $circle-size;
  	height: $circle-size;

  	background-color: $circle-background;
  	border-radius: 50%;
  	.circle {
  		.mask, .fill, .shadow {
  			width:    $circle-size;
  			height:   $circle-size;
  			position: absolute;
  			border-radius: 50%;
  		}
  		.mask, .fill {
  			-webkit-backface-visibility: hidden;
  			transition: -webkit-transform $transition-length;
  			transition: -ms-transform $transition-length;
  			transition: transform $transition-length;
  			border-radius: 50%;
  		}
  		.mask {
  			clip: rect(0px, $circle-size+5, $circle-size+5, $circle-size/2);
  			.fill {
  				clip: rect(0px, ($circle-size/2)+5, $circle-size, 0px);
  				background-color: $circle-color;
  			}
  		}
  	}
  	.inset {
      display: table;
  		width:       $inset-size;
  		height:      $inset-size;
  		position:    absolute;
  		margin-left: ($circle-size - $inset-size)/2;
  		margin-top:  ($circle-size - $inset-size)/2;

  		background-color: $inset-color;
  		border-radius: 50%;
  	}

  	$increment: 180deg / 5;
    $i : 0;
  	@while $i < 5 {
      &[data-progress="#{$i}"]{
        .circle {
          .mask.full, .fill {
            -webkit-transform: rotate($increment * $i);
            -ms-transform: rotate($increment * $i);
            transform: rotate($increment * $i);
          }
          .fill.fix {
            -webkit-transform: rotate($increment * $i * 2);
            -ms-transform: rotate($increment * $i * 2);
            transform: rotate($increment * $i * 2);
          }
        }
      }
      $i : $i + 0.1;
  	}
  }
}
