<ion-header id="tool">

  <ion-navbar>
    <ion-title id="title">{{e.nome}}</ion-title>
    <ion-buttons end *ngIf="uid == e.criador || keyCasa == e.criador" (click)="editEvent()">
      <button ion-button icon-only color="primary" class="btn_search">
        <ion-icon name="icon-edit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="uid == e.criador || keyCasa == e.criador" (click)="removeEvent()">
      <button ion-button icon-only color="primary" class="btn_search">
        <ion-icon name="icon-del"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="fundo_event header_af">
    <div id="fundo" [ngStyle]="{'background-image': 'url('+e.img+')' }" *ngIf="e.priv == '0'" class="header_event">
      <div class="fundo_card">
        <div class="amigos_list" *ngIf="e.coin"><img src="assets/selo.png"></div>
        <div class="info_list">
          <div class="icon_list"><ion-icon name="icon-coin"></ion-icon><div>{{(e.faixa_ini==0?'Gratuito':'R$'+e.faixa_ini)}}{{(e.faixa_fim==0?'':(e.faixa_fim!=e.faixa_ini?' - R$'+e.faixa_fim:''))}}</div></div>
        </div>
        <div class="bottom_list">
          <div style="display:table-cell;vertical-align:bottom;width:80px;">
            <div class="top"><div class="block"></div><div class="block"></div></div>
            <div class="date_list">
              <div class="mes_list">{{e.mes}}</div>
              <div class="dia_list">{{('0'+e.dia).slice(-2)}}</div>
              <div class="hr_list">{{e.hr_ini}}</div>
            </div>
          </div>
          <div class="present_list">
            <div class="name_event">{{e.nome}}</div>
            <div class="name_locale" id="l">{{e.cidade}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tabs_event" id="tabs" *ngIf="data < e.dti">
    <div class="tab_event" style="width:100%;">
      <p style="margin: 16px 0px 8px;font-family:'Lato', sans-serif;font-weight: 900;">{{numConf}} {{(numConf == 1?'CONFIRMADO':'CONFIRMADOS')}}</p>
      <button ion-button icon-left clear full (click)="conf()" *ngIf="!confirm && !isCasa">
        <ion-icon name="icon-one-check"></ion-icon>
        CONFIRMAR PRESENÇA
      </button>
      <button ion-button icon-left clear full (click)="conf()" *ngIf="confirm && !isCasa">
        <ion-icon name="icon-cancel"></ion-icon>
        CANCELAR PRESENÇA
      </button>
    </div>
  </div>
  <div class="tabs_event" id="tabs" *ngIf="data >= e.dti">
    <div class="tab_event">
      <p style="margin: 16px;font-family:'Lato', sans-serif;font-weight: 900;">{{numCheck}}<br>{{(numCheck == 1?'CHECK-IN':'CHECK-INS')}}</p>
    </div>
    <div class="tab_event">
      <p style="margin: 16px;font-family:'Lato', sans-serif;font-weight: 900;">{{numConf}}<br>{{(numConf == 1?'CONFIRMADO':'CONFIRMADOS')}}</p>
    </div>
    <div class="tab_event" style="width:100%;" *ngIf="periodoCheck && !isCasa && e.coin">
      <button ion-button icon-left clear full (click)="check()">
        <ion-icon name="icon-one-check"></ion-icon>
        GANHAR VOUS
      </button>
    </div>
    <div class="tab_event" style="width:100%;" *ngIf="periodoCheck && !isCasa && !e.coin">
      <button ion-button icon-left clear full (click)="check()">
        <ion-icon name="icon-one-check"></ion-icon>
        FAZER CHECK-IN
      </button>
    </div>
  </div>
  <div class="estab_perfil" (click)="openPerfilEstab(e.criador)" id="list">
    <div class="info_estab">
      <div class="ft_perfil_estab" [ngStyle]="{'background-image': 'url('+e.casa.img+')' }"></div>
      <div class="name_estab">{{e.nomeCriador}}</div>
    </div>
    <div class="ava_estab">
      <ion-icon name="icon-star-void" *ngIf="(e.nota < 0.5 && e.nota >= 0) || e.nota == null"></ion-icon>
      <ion-icon name="icon-star-half" *ngIf="e.nota < 1 && e.nota >= 0.5"></ion-icon>
      <ion-icon name="icon-star-full" *ngIf="e.nota >= 1"></ion-icon>

      <ion-icon name="icon-star-void" *ngIf="e.nota < 1.5 && e.nota >= 1 || e.nota == null"></ion-icon>
      <ion-icon name="icon-star-half" *ngIf="e.nota < 2 && e.nota >= 1.5"></ion-icon>
      <ion-icon name="icon-star-full" *ngIf="e.nota >= 2"></ion-icon>

      <ion-icon name="icon-star-void" *ngIf="e.nota < 2.5 && e.nota >= 2 || e.nota == null"></ion-icon>
      <ion-icon name="icon-star-half" *ngIf="e.nota < 3 && e.nota >= 2.5"></ion-icon>
      <ion-icon name="icon-star-full" *ngIf="e.nota >= 3"></ion-icon>

      <ion-icon name="icon-star-void" *ngIf="e.nota < 3.5 && e.nota >= 3 || e.nota == null"></ion-icon>
      <ion-icon name="icon-star-half" *ngIf="e.nota < 4 && e.nota >= 3.5"></ion-icon>
      <ion-icon name="icon-star-full" *ngIf="e.nota >= 4"></ion-icon>

      <ion-icon name="icon-star-void" *ngIf="e.nota < 4.5 && e.nota >= 4 || e.nota == null"></ion-icon>
      <ion-icon name="icon-star-half" *ngIf="e.nota < 5 && e.nota >= 4.5"></ion-icon>
      <ion-icon name="icon-star-full" *ngIf="e.nota >= 5"></ion-icon>
    </div>
    <div class="deta">
      <div class="cont" style="text-align:center;padding-top:16px;padding-bottom:16px;" *ngIf="!numdeta">
        Este estabelecimento ainda não foi avaliado com mais detalhes.
      </div>
      <div class="cont" style="text-align:center;padding-left:0px;padding-right:0px;" *ngIf="numdeta">
        <div class="detalhe">
          <div class="icon_detalhe"><ion-icon name="icon-home"></ion-icon></div>
          <div class="radial-progress" [attr.data-progress]="( mediadeta[0] == parseInt(mediadeta[0]) ? mediadeta[0] : mediadeta[0].toFixed(1) )">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
            </div>
            <div class="inset">
              <div class="nota_detalhe">{{( mediadeta[0] == parseInt(mediadeta[0]) ? mediadeta[0] : mediadeta[0].toFixed(1) )}}<ion-icon name="icon-star-full"></ion-icon></div>
            </div>
          </div>
          <div class="nome_detalhe">Ambiente</div>
        </div>

        <div class="detalhe">
          <div class="icon_detalhe"><ion-icon name="icon-profile"></ion-icon></div>
          <div class="radial-progress" [attr.data-progress]="( mediadeta[1] == parseInt(mediadeta[1]) ? mediadeta[1] : mediadeta[1].toFixed(1) )">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
            </div>
            <div class="inset">
              <div class="nota_detalhe">{{( mediadeta[1] == parseInt(mediadeta[1]) ? mediadeta[1] : mediadeta[1].toFixed(1) )}}<ion-icon name="icon-star-full"></ion-icon></div>
            </div>
          </div>
          <div class="nome_detalhe">Atendimento</div>
        </div>
        
        <div class="detalhe" *ngIf="e.casa.bar">
          <div class="icon_detalhe"><ion-icon name="icon-bar"></ion-icon></div>
          <div class="radial-progress" [attr.data-progress]="( mediadeta[2] == parseInt(mediadeta[2]) ? mediadeta[2] : mediadeta[2].toFixed(1) )">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
            </div>
            <div class="inset">
              <div class="nota_detalhe">{{( mediadeta[2] == parseInt(mediadeta[2]) ? mediadeta[2] : mediadeta[2].toFixed(1) )}}<ion-icon name="icon-star-full"></ion-icon></div>
            </div>
          </div>
          <div class="nome_detalhe">Bar</div>
        </div>

        <div class="detalhe" *ngIf="e.casa.cozinha">
          <div class="icon_detalhe"><ion-icon name="icon-comida"></ion-icon></div>
          <div class="radial-progress" [attr.data-progress]="( mediadeta[3] == parseInt(mediadeta[3]) ? mediadeta[3] : mediadeta[3].toFixed(1) )">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
            </div>
            <div class="inset">
              <div class="nota_detalhe">{{( mediadeta[3] == parseInt(mediadeta[3]) ? mediadeta[3] : mediadeta[3].toFixed(1) )}}<ion-icon name="icon-star-full"></ion-icon></div>
            </div>
          </div>
          <div class="nome_detalhe">Cozinha</div>
        </div>

        <div class="detalhe">
          <div class="icon_detalhe"><ion-icon name="icon-coin"></ion-icon></div>
          <div class="radial-progress" [attr.data-progress]="( mediadeta[4] == parseInt(mediadeta[4]) ? mediadeta[4] : mediadeta[4].toFixed(1) )">
            <div class="circle">
              <div class="mask full">
                <div class="fill"></div>
              </div>
              <div class="mask half">
                <div class="fill"></div>
                <div class="fill fix"></div>
              </div>
            </div>
            <div class="inset">
              <div class="nota_detalhe">{{( mediadeta[4] == parseInt(mediadeta[4]) ? mediadeta[4] : mediadeta[4].toFixed(1) )}}<ion-icon name="icon-star-full"></ion-icon></div>
            </div>
          </div>
          <div class="nome_detalhe">Preço</div>
        </div>
      </div>
    </div>
  </div>



  <ion-list>
    <ion-item *ngIf="e.desc != ''" style="padding-top:8px;">
      <div class="lab"><ion-icon name="icon-desc" item-start></ion-icon>Descrição</div>
      <pre class="cont" style="white-space:pre-line;font-family:'Lato', sans-serif;font-weight: 300;">{{e.desc}}</pre>
    </ion-item>
    <ion-item [attr.id]="e.desc == '' ? 'list' : ''">
      <div class="lab"><ion-icon name="icon-events" item-start></ion-icon>Local</div>
      <div class="cont"><div #map id="map" style="width:100%;height:150px;" (click)="startExternalMap()"></div></div>
    </ion-item>
    <ion-item>
      <div class="lab"><ion-icon name="icon-home" item-start></ion-icon>Características do local</div>
      <div class="cont">
        <div *ngIf="e.casa.bar"><ion-icon name="icon-bar" style="margin-right:8px;margin-bottom:8px;"></ion-icon> Bebidas</div>
        <div *ngIf="e.casa.cozinha"><ion-icon name="icon-comida" style="margin-right:8px;margin-bottom:8px;"></ion-icon> Comidas</div>
        <div *ngIf="e.casa.wifi"><ion-icon name="icon-wifi" style="margin-right:8px;margin-bottom:8px;"></ion-icon> Wi-Fi</div>
        <div *ngIf="e.casa.fum"><ion-icon name="icon-fumante" style="margin-right:8px;margin-bottom:8px;"></ion-icon> Área para fumantes</div>
        <div *ngIf="e.casa.estac"><ion-icon name="icon-estacionamento" style="margin-right:8px;margin-bottom:8px;"></ion-icon> Estacionamento</div>
        <div *ngIf="e.casa.acess"><ion-icon name="icon-acessibilidade" style="margin-right:8px;margin-bottom:8px;"></ion-icon> Acessibilidade</div>
      </div>
    </ion-item>
    <ion-item>
      <div class="lab"><ion-icon name="icon-coin" item-start></ion-icon>Formas de pagamento</div>
      <div class="cont">
        <div *ngIf="e.casa.cartao"><ion-icon name="icon-cartao" style="margin-right:8px;margin-bottom:8px;"></ion-icon> Cartão</div>
        <div *ngIf="e.casa.dinheiro"><ion-icon name="icon-dinheiro" style="margin-right:8px;margin-bottom:8px;"></ion-icon> Dinheiro</div>
        <div *ngIf="e.coin"><ion-icon name="icon-vous" style="margin-right:8px;margin-bottom:8px;"></ion-icon> Vous</div>
      </div>
    </ion-item>
    <ion-item *ngIf="e.tags != undefined">
      <div class="lab"><ion-icon name="icon-tag" item-start></ion-icon>Tags</div>
      <div class="cont"><div class="tag" *ngFor="let t of e.tags">#{{t.nome}}</div></div>
    </ion-item>
  </ion-list>
</ion-content>
