<ion-header>

  <ion-navbar>
    <ion-title>Promoções</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <p style="white-space:normal">Aqui você pode cadastrar todas os seus códigos promocionais.</p>
    </ion-item>
    <ion-list-header>Lista de promoções</ion-list-header>
    <ion-item *ngIf="(codigos | async)?.length == 0">
      <p style="white-space:normal">Nenhum código promocional encontrado.</p>
    </ion-item>
    <ion-item *ngFor="let c of codigos | async">
      <h1>{{c.codigo}}</h1>
      <p>{{c.nome}}</p>
      <div>V$ {{c.valor}}</div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar style="background-color:#652C90;">
    <button ion-button full clear style="color:white;" (click)="openAddPromo()">Adicionar código promocional</button>
  </ion-toolbar>
</ion-footer>
