// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

$icomoon-font-path: "../assets/fonts" !default;

$icon-external-link: "\e93a";  
$icon-star-full: "\e937";
$icon-star-half: "\e939";
$icon-star-void: "\e93c";
$icon-create-event: "\e927";
$icon-check-qrcode: "\e91e";
$icon-wifi: "\e900";
$icon-confirm: "\e901";
$icon-one-check: "\e901";
$icon-vous: "\e902";
$icon-send: "\e904";
$icon-settings: "\e905";
$icon-shared: "\e906";
$icon-tag: "\e907";
$icon-select-off: "\e908";
$icon-select-on: "\e909";
$icon-popup: "\e90a";
$icon-profile: "\e90b";
$icon-promo: "\e90c";
$icon-publication: "\e90d";
$icon-relac: "\e90e";
$icon-saida: "\e90f";
$icon-search: "\e910";
$icon-see-pass: "\e911";
$icon-events: "\e912";
$icon-faq: "\e913";
$icon-feed: "\e914";
$icon-filter: "\e915";
$icon-fumante: "\e916";
$icon-gallery: "\e917";
$icon-genero: "\e918";
$icon-invites: "\e91a";
$icon-like: "\e91b";
$icon-menu: "\e91c";
$icon-message: "\e91d";
$icon-notifications: "\e91f";
$icon-page: "\e920";
$icon-estacionamento: "\e921";
$icon-entrada: "\e922";
$icon-edit: "\e923";
$icon-dinheiro: "\e924";
$icon-desc: "\e925";
$icon-del: "\e926";
$icon-conv: "\e928";
$icon-comment: "\e929";
$icon-comida: "\e92a";
$icon-coin: "\e92b";
$icon-my_events: "\e92c";
$icon-cartao: "\e92d";
$icon-cancel: "\e92e";
$icon-camera: "\e92f";
$icon-bug: "\e930";
$icon-bar: "\e931";
$icon-back-page: "\e932";
$icon-agenda: "\e933";
$icon-adm: "\e934";
$icon-acessibilidade: "\e935";
$icon-about: "\e936";
$icon-back: "\e903";
$icon-home: "\e919";


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #652C90,
  secondary:  #1B97C6,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
