<ion-menu [content]="mycontent">
  <ion-content>
    <div class="fundo_menu" [ngStyle]="{'background-image': 'url('+capaUser+')' }">
      <div class="header_menu">
        <div class="ft_menu" [ngStyle]="{'background-image': 'url('+perfilPrin+')' }"></div>
        <div class="name_menu">
          <div class="label_name" *ngIf="!this.authentic">
            <button ion-button full menuToggle (click)="openButtonPage(0)">Cadastrar</button>
            <button ion-button full menuToggle (click)="openButtonPage(1)">Entrar</button>
          </div>
          <div class="label_name" *ngIf="this.authentic" id="label_name">{{nomeUser}}</div>
        </div>
        <div class="ft_perfil_casa" [ngStyle]="{'background-image': 'url('+perfilUser+')' }" *ngIf="isCasa" (click)="returnProfile()"></div>
      </div>
    </div>
    <ion-list no-lines>
      <button ion-item [disabled]="!this.authentic" *ngIf="isCasa" menuToggle (click)="openMenuPage(0)"><ion-icon item-left name="icon-profile"></ion-icon>Perfil</button>
      <button ion-item [disabled]="!this.authentic" menuToggle (click)="openMenuPage(1)"><ion-icon item-left name="icon-my_events"></ion-icon>Meus eventos</button>
      <!--<button ion-item [disabled]="!this.authentic" menuToggle (click)="openMenuPage(2)"><ion-icon item-left name="icon-agenda"></ion-icon>Agenda</button>
      <button ion-item [disabled]="!this.authentic" menuToggle (click)="openMenuPage(3)"><ion-icon item-left name="icon-invites"></ion-icon>Convites</button>-->
      <button ion-item [disabled]="!this.authentic" menuToggle *ngIf="!isCasa" (click)="openMenuPage(7)"><ion-icon item-left name="icon-promo"></ion-icon>Códigos promocionais</button>
      <button ion-item [disabled]="!this.authentic" menuToggle (click)="openMenuPage(4)"><ion-icon item-left name="icon-conv"></ion-icon>Convidar amigos</button>
      <button ion-item [disabled]="!this.authentic" menuToggle (click)="openMenuPage(5)"><ion-icon item-left name="icon-page"></ion-icon>Meus estabelecimentos</button>
      <button ion-item [disabled]="!this.authentic" menuToggle (click)="openMenuPage(8)"><ion-icon item-left name="icon-bug"></ion-icon>Reportar Bug</button>
      <!--<button ion-item [disabled]="!this.authentic" menuToggle (click)="openMenuPage(6)"><ion-icon item-left name="icon-settings"></ion-icon>Configurações</button>-->
      <button ion-item menuToggle (click)="exit()" *ngIf="this.authentic"><ion-icon item-left name="icon-cancel"></ion-icon>Sair</button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu [content]="mycontent" side="right" [swipeEnabled]="false">
  <ion-content padding>
    <ion-list style="height:calc(100% - 84px);overflow-y:auto;">
      <ion-item>
        <ion-label stacked>Cidade</ion-label>
        <ion-select interface="popover" [(ngModel)]="city">
          <ion-option value="{{city}}" *ngIf='showCity'>{{city}}</ion-option>
          <div *ngFor="let c of cidades | async"><ion-option value="{{c.nome}}">{{c.nome}}</ion-option></div>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Data</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" max="{{dt.getFullYear()+1}}" [(ngModel)]="date"></ion-datetime>
      </ion-item>
      <ion-item style="margin-top:16px;">
        <ion-label stacked>
          Faixa de preço dos ingressos<br>
          De: <ion-badge item-end>{{faixa.lower}}</ion-badge>
          Até: <ion-badge item-end>{{faixa.upper}}</ion-badge>
        </ion-label>
        <ion-range dualKnobs="true" pin="true" [(ngModel)]="faixa" min="0" max="200" step="5">
          <ion-label range-left>Grátis</ion-label>
          <ion-label range-right>+200</ion-label>
        </ion-range>
      </ion-item>
      <ion-item style="padding: 0px;">
        <div class="tags">
          <div class="tag" *ngFor="let tag of tags | async" (click)="evidentTag(tag.$key,tag.nome)" id="{{tag.$key}}">#{{tag.nome}}</div>
        </div>
      </ion-item>
    </ion-list>
    <div style="position:absolute;width:calc(100% - 32px);bottom:8px;background:white;">
      <button ion-button menuToggle="right" (click)="aplicarFiltro()" block>Aplicar</button>
      <button ion-button menuToggle="right" (click)="resetarFiltro()" color="secondary" block>Resetar filtros</button>
    </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav #mycontent [root]="rootPage" swipeBackEnabled="false"></ion-nav>
