<ion-header>

  <ion-navbar>
    <ion-title>Meus estabelecimentos</ion-title>
    <ion-buttons end (click)="newEstab()">
      <button ion-button icon-only color="primary" class="btn_search">
        <ion-icon name="icon-cancel" style="transform:rotate(45deg)"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p style="font-size:1.1em;text-align:center">Empresário, cadastre aqui seus estabelecimentos para aproveitar todas as vantagens que oferecemos.</p>
  <ion-list>
    <ion-item style="white-space:normal" *ngIf="(list | async)?.length == 0">
      <p>Não há nenhum estabelecimento vínculado à essa conta.</p>
    </ion-item>
    <ion-item  *ngFor="let l of list | async">
      <button ion-button clear (click)="changeProfile(l.$key)" [disabled]="!l.valid" class="nome">{{l.nome}}</button><br>
      <span class="cidade">{{l.cidade}}</span><br>
      <i class="cidade" style="color:#652C90" *ngIf="!l.valid">Em processo de validação</i>
      <ion-icon name="icon-edit" item-end style="margin-right:16px;" (click)="editEstab(l.$key)"></ion-icon>
      <ion-icon name="icon-del" item-end (click)="removeEstab(l.$key)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
