page-create {
  .nome{
    font-size: 1.2em !important;
    font-family: Lato-Medium;
    padding: 0px !important;
  }
  .cidade{
    font-size: 0.9em;
  }
  ion-label{
    white-space: normal;
  }
}
