page-add-organizador {
  .orgs {
    width: 100%;
    font-size: 1.2em;
    position: fixed;
    bottom: 56px;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.14), 0 -3px 1px -2px rgba(0, 0, 0, 0.2), 0 -1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    z-index: 500;
  }
  .number {
    float: left;
    border-right: 1px solid #dedede;
    padding: 16px;
    font-size: 0.8em;
    background-color: #652C90;
    color: white;
  }
  .number span{
    font-family: Lato-Black;
    margin-left: 4px;
    font-size: 1.4em;
  }
  .scroll-content{
    margin-bottom: 111px !important;
  }
}
