<ion-header>

  <ion-navbar>
    <ion-title>Editar administradores</ion-title>
    <ion-buttons end *ngIf="pular">
      <button ion-button icon-only color="primary" (click)="continuar()" class="btn_search">Pular</button>
    </ion-buttons>
    <ion-buttons end *ngIf="!pular">
      <button ion-button icon-only color="primary" (click)="continuar()" class="btn_search"><ion-icon name="icon-one-check"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="search" (ionInput)="updateSearch()"></ion-searchbar>
  <ion-item-group *ngFor="let group of groupedContacts">
    <ion-item-divider light>{{group.letter}}</ion-item-divider>
    <button ion-item *ngFor="let usu of group.nomes" (click)="addAdm(usu[2],usu[1])">
      <ion-avatar item-start>
        <img src="{{usu[1]}}">
      </ion-avatar>
      {{usu[0]}}
      <ion-icon id="icon-{{usu[2]}}" style="color:#AFAFAF" name="icon-select-off" item-end></ion-icon>
    </button>
  </ion-item-group>
</ion-content>

<ion-footer style="background-color:#652C90;">
  <div class="adms" *ngFor="let a of adms" id="add-a[0]">
    <div class="perfil" [ngStyle]="{'background-image': 'url('+a[1]+')' }"></div>
    <div class="remover" (click)="removeAdm(a[0])"><ion-icon style="color:white" name="icon-cancel"></ion-icon></div>
  </div>
</ion-footer>
