page-coin {
  .btn_search .button-effect{
    background-color: white;
  }
  .saldo{
    width:100%;
  }
  .lbl_saldo{
    width:100%;
    text-align: center;
    font-size: 1.3em;
  }
  .vs_saldo{
    width:100%;
    text-align: center;
    font-family: Lato-Black;
    color: #652C90;
    font-size: 3.5em;
    line-height: 1.8em;
  }
  .vs_saldo span{
    color: #1B97C6;
  }
  .vs_saldo b{
    font-family: Lato-Black;
  }
  .rs_saldo{
    width:100%;
    text-align: center;
    font-family: Lato-Medium;
    color: #666666;
    font-size: 1.3em;
  }
  .rs_saldo span{
    font-family: Lato-Medium;
  }
  .switch_date{
    margin-top: 16px;
    float:left;
    width: 50%;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
  }
  .datetime-md, .datetime-ios, .datetime-wp{
    padding-top:4px;
  }
  .home ion-label{display:table;width:100%;}
  .item-md{padding-right: 16px;}
  .info_ex{
    display: table-cell;
    vertical-align: middle;
  }
  .tipo_ex{
    font-size: 0.8em;
  }
  .entrada{color:green;}
  .saida{color:red;}
  .desc_ex{
    font-family: Lato-Medium;
    margin-top: 8px;
    margin-bottom: 8px;
    white-space: normal;
  }
  .date_ex{
    font-size: 0.7em;
    color:#666666;
  }
  .value_ex{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3em;
    padding-left: 32px;
    font-family: Lato-Black;
    text-align: right;
  }

  .vous, .reais{
    width: calc(100% - 64px);
    margin-left: 32px;
    float: left;
    text-align: center;
    border-radius: 10px;
  }
  .vous{
    //border: 1px solid #652C90;
    height: 73px;
  }
  .vous .botoes{
    width: 40px;
    float: left;
  }
  .vous .botoes button{
    width: 40px;
    height: 36px;
    float: left;
    padding: 0px;
    font-size: 2em;
    margin: 0px;
    border-radius: 0px;
  }
  .vous .botoes button:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .vous .botoes button:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .vous .botoes button span{
    margin-left: 1px;
    margin-top: -1px;
  }
  .vous .valor {
    float: left;
    font-size: 3em;
    line-height: 1.7em;
    font-family: Lato-Black;
    color: #652C90;
    width: calc(100% - 40px);
  }
  .vous .valor span {
    font-family: Lato-Medium;
    color: #1B97C6;
  }
  .reais {
    font-size: 1.5em;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 72px;
    width: calc(100% - 104px);
    font-family: Lato-Medium;
    color: #666666;
  }

  .cont{
    filter:blur(2.5px);
  }
  .scroll-coin .scroll-content{
    overflow: hidden;
  }
  .fundo{
    position:absolute;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
    background-color: rgba(255,255,255,0.65);
  }

  .receive ion-label{
    color: #652C90;
  }
  .receive ion-input{
    font-size: 1.2em;
    font-family: Lato-Medium;
    margin-bottom: 8px;
  }
  .receive .text-input[disabled]{
    opacity: 1;
  }
}
