.card-background-page {

  ion-card {background-size:cover;background-position:center;color:white;}

  .fundo_card{float:left;width:100%;background-image:linear-gradient(rgba(109,95,119,0.5),rgba(109,95,119,0.9));padding:16px;}
  .fundo_card .amigos_list{float:left;font-size:1em;width:48px;}
  .fundo_card .amigos_list img{float:left;width:100%;}
  .fundo_card .info_list{float:right;font-size:1em;}
  .fundo_card .info_list .icon_list{float:right;padding-bottom:8px;clear: both;}
  .fundo_card .info_list .icon_list div{float:right;}
  .fundo_card .info_list .icon_list ion-icon{float:right;margin-left:8px;}
  .fundo_card .bottom_list{float:left;width:100%;margin-top:48px;}
  .fundo_card .bottom_list .top{float:left;width:80px;}
  .fundo_card .bottom_list .top .block{float:left;margin-left:10px;width:8px;height:8px;background-color:#652C90;}
  .fundo_card .bottom_list .top .block:last-child{float:left;margin-left:44px;}
  .fundo_card .bottom_list .date_list{float:left;background-color:#652C90;border-radius:5px;width:80px;}
  .fundo_card .bottom_list .date_list .mes_list{float:left;font-size:1.2em;width:100%;text-align:center;font-family:Lato-Medium;line-height:1em;padding:6px;}
  .fundo_card .bottom_list .date_list .dia_list{float:left;clear:both;width:calc(100% - 16px);text-align:center;font-size:2.3em;line-height:1em;font-family:Lato-Black;margin-left:8px;margin-right:8px;padding:6px;border-radius:5px;background-color:white;color:#652C90;}
  .fundo_card .bottom_list .date_list .hr_list{float:left;clear:both;width:100%;text-align:center;line-height:1em;padding:6px;}
  .fundo_card .bottom_list .present_list{display:table-cell;vertical-align:middle;width:calc(100% - 96px);padding-left:16px;}
  .fundo_card .bottom_list .present_list .name_event{float:left;font-size:1.7em;line-height:1.2em;font-family:Lato-Medium;}
  .fundo_card .bottom_list .present_list .name_create{float:left;clear:both;font-size:1.2em;line-height:1.5em;}
  .fundo_card .bottom_list .present_list .name_locale{float:left;clear:both;font-size:1em;line-height:1.5em;}

}

.card-background-page-map {
  float: left;
  width: 232px;
  display: inline-block;

  .card {float:left;width:100%;background-size:cover;background-position:center;color:white;font-size:0.9em;}

  .fundo_card{float:left;width:100%;background-image:linear-gradient(rgba(109,95,119,0.5),rgba(109,95,119,0.9));padding:16px;}
  .fundo_card .amigos_list{float:right;font-size:1em;width:48px;}
  .fundo_card .amigos_list img{float:right;width:100%;}
  .fundo_card .info_list{float:left;font-size:1em;}
  .fundo_card .info_list .icon_list{float:left;padding-bottom:4px;clear: both;}
  .fundo_card .info_list .icon_list div{float:left;}
  .fundo_card .info_list .icon_list ion-icon{float:left;margin-right:4px;}
  .fundo_card .bottom_list{float:left;width:100%;margin-top:32px;}
  .fundo_card .bottom_list .top{float:left;width:50px;}
  .fundo_card .bottom_list .top .block{float:left;margin-left:8px;width:4px;height:4px;background-color:#652C90;}
  .fundo_card .bottom_list .top .block:last-child{float:left;margin-left:26px;}
  .fundo_card .bottom_list .date_list{float:left;background-color:#652C90;border-radius:5px;width:50px;}
  .fundo_card .bottom_list .date_list .mes_list{float:left;font-size:1.1em;width:100%;text-align:center;font-family:Lato-Medium;line-height:1em;padding:4px;}
  .fundo_card .bottom_list .date_list .dia_list{float:left;clear:both;width:calc(100% - 8px);text-align:center;font-size:1.8em;line-height:1em;font-family:Lato-Black;margin-left:4px;margin-right:4px;padding:3px;border-radius:5px;background-color:white;color:#652C90;}
  .fundo_card .bottom_list .date_list .hr_list{float:left;clear:both;width:100%;text-align:center;line-height:1em;padding:4px;}
  .fundo_card .bottom_list .present_list{display:table-cell;vertical-align:middle;width:calc(100% - 66px);padding-left:16px;}
  .fundo_card .bottom_list .present_list .name_event{float:left;font-size:1.5em;line-height:1.2em;font-family:Lato-Medium;}
  .fundo_card .bottom_list .present_list .name_create{float:left;clear:both;font-size:1em;line-height:1.5em;}
  .fundo_card .bottom_list .present_list .name_locale{float:left;clear:both;font-size:1em;line-height:1.5em;}

  ion-icon{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-coin:before {
    content: '\e932';
  }
  .icon-fumante:before {
    content: "\e939";
  }
  .icon-wifi:before {
    content: "\e938";
  }
  .icon-comida:before {
    content: '\e93b';
  }
  .icon-bar:before {
    content: '\e93d';
  }
  .icon-cartao:before {
    content: "\e93a";
  }
  .icon-dinheiro:before {
    content: '\e93c';
  }
  .icon-vous:before {
    content: "\e93e";
  }
}

.btn_search .button-effect{
  background-color: white;
}

.ios, .md {

    page-events {

      .scroll {
        height: 100%
      }

      #map {
        width: 100%;
        height: 100%;
      }

      .map {
        width: 100%;
        height: 100%;
      }

      .gm-style-iw {
        top: 0px !important;
        left: 0px !important;
        width: 232px !important;
      }

      .prim {
        width: 232px !important;
      }

    }

}
