<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="icon-menu"></ion-icon>
    </button>
    <div class="logo_main" *ngIf="!this.plat.is('android')">
      <img src="assets/logo_main_ios.png">
    </div>
    <div class="logo_main" *ngIf="this.plat.is('android')">
      <img src="assets/logo_main.png">
    </div>
    <!--<ion-buttons (click)="this.search = true" end>
      <button ion-button icon-only color="primary" class="btn_search">
        <ion-icon name="icon-search"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-buttons *ngIf="!this.plat.is('android')" menuToggle="right" end>
      <button ion-button icon-only color="primary" class="btn_search">
        <ion-icon name="icon-filter"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="tab_top" no-border-top style="padding:0px;">
    <ion-segment [(ngModel)]="maps" (ionChange)="changeTab()">
      <ion-segment-button value="list">
        Lista
      </ion-segment-button>
      <ion-segment-button value="map">
        Mapa
      </ion-segment-button>
      <button *ngIf="this.plat.is('android')" menuToggle="right" ion-button clear style="color:white"><ion-icon name="icon-filter"></ion-icon></button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button ion-button block clear style="width:calc(100% - 24px);margin:12px;" (click)="openNewEvent()" *ngIf="isCasa">Criar um evento</button>
  <!--<button ion-button block clear style="width:calc(100% - 24px);margin:12px;" (click)="readQRC()" *ngIf="!isCasa && authentic">Check-in com QRCode</button>-->
  <div [ngSwitch]="maps" class="map">
    <div *ngSwitchCase="'map'" style="width:100%;height:100%;">
      <div class="breve" *ngIf="carregando" style="width:100%;">
        <div class="txt_breve" style="width:100%;"><img src="assets/loading.gif" style="width:150px;margin:0px auto;"></div>
      </div>
      <div #map id="map"></div>
    </div>
    <div *ngSwitchCase="'list'">
      <div class="breve" *ngIf="carregando" style="width:100%;">
        <div class="txt_breve" style="width:100%;"><img src="assets/loading.gif" style="width:150px;margin:0px auto;"></div>
      </div>
      <div class="breve" padding *ngIf="((events | async)?.length == 0 || (eve.length == 0 && (stTag != null || stFaixa.lower != 0))) && !showCity">
        <div class="txt_breve">Infelizmente não foi encontrado nenhum evento.</div>
      </div>
      <div *ngFor="let e of eveCoins" class="card-background-page">
        <ion-card [ngStyle]="{'background-image': 'url('+e.img+')' }" *ngIf="e.priv == '0'" (click)="openEvent(e.$key)">
          <div [attr.class]="e.coin ? 'coin fundo_card' : 'fundo_card'">
            <div class="amigos_list" *ngIf="e.coin"><img src="assets/selo.png"></div>
            <div class="info_list">
              <div class="icon_list" *ngIf="e.distancia < 1000" style="font-weight:900;"><ion-icon name="icon-events"></ion-icon><div>{{e.distancia}} m</div></div>
              <div class="icon_list" *ngIf="e.distancia >= 1000" style="font-weight:900;"><ion-icon name="icon-events"></ion-icon><div>{{(e.distancia/1000).toFixed(1)}} km</div></div>
              <div class="icon_list"><ion-icon name="icon-coin"></ion-icon><div>{{(e.faixa_ini==0?'Gratuito':'R$'+e.faixa_ini)}}{{(e.faixa_fim==0?'':(e.faixa_fim!=e.faixa_ini?' - R$'+e.faixa_fim:''))}}</div></div>
              <div class="icon_list">
                <ion-icon name="icon-estacionamento" *ngIf="e.casa.estac"></ion-icon>
                <ion-icon name="icon-acessibilidade" *ngIf="e.casa.acess"></ion-icon>
                <ion-icon name="icon-fumante" *ngIf="e.casa.fum"></ion-icon>
                <ion-icon name="icon-wifi" *ngIf="e.casa.wifi"></ion-icon>
                <ion-icon name="icon-comida" *ngIf="e.casa.cozinha"></ion-icon>
                <ion-icon name="icon-bar" *ngIf="e.casa.bar"></ion-icon>
              </div>
              <div class="icon_list">
                <ion-icon name="icon-cartao" *ngIf="e.casa.cartao"></ion-icon>
                <ion-icon name="icon-dinheiro" *ngIf="e.casa.dinheiro"></ion-icon>
                <ion-icon *ngIf="e.coin" name="icon-vous"></ion-icon>
              </div>
            </div>
            <div class="bottom_list">
              <div style="display:table-cell;vertical-align:bottom;width:80px;">
                <div class="top"><div class="block"></div><div class="block"></div></div>
                <div class="date_list">
                  <div class="mes_list">{{e.mes}}</div>
                  <div class="dia_list">{{('0'+e.dia).slice(-2)}}</div>
                  <div class="hr_list">{{e.hr_ini}}</div>
                </div>
              </div>
              <div class="present_list">
                <div class="name_event">{{e.nome}}</div>
                <div class="name_create" id="c">{{e.nomeCriador}}</div>
                <div class="name_locale" id="l">{{e.cidade}}</div>
              </div>
            </div>
          </div>
        </ion-card>
      </div>
      <div *ngFor="let e of eve" class="card-background-page">
        <ion-card [ngStyle]="{'background-image': 'url('+e.img+')' }" *ngIf="e.priv == '0'" (click)="openEvent(e.$key)">
          <div class="" [attr.class]="e.coin ? 'coin fundo_card' : 'fundo_card'">
            <div class="amigos_list" *ngIf="e.coin"><img src="assets/selo.png"></div>
            <div class="info_list">
              <div class="icon_list" *ngIf="e.distancia < 1000" style="font-weight:900;"><ion-icon name="icon-events"></ion-icon><div>{{e.distancia}} m</div></div>
              <div class="icon_list" *ngIf="e.distancia >= 1000" style="font-weight:900;"><ion-icon name="icon-events"></ion-icon><div>{{(e.distancia/1000).toFixed(1)}} km</div></div>
              <div class="icon_list"><ion-icon name="icon-coin"></ion-icon><div>{{(e.faixa_ini==0?'Gratuito':'R$'+e.faixa_ini)}}{{(e.faixa_fim==0?'':(e.faixa_fim!=e.faixa_ini?' - R$'+e.faixa_fim:''))}}</div></div>
              <div class="icon_list">
                <ion-icon name="icon-estacionamento" *ngIf="e.casa.estac"></ion-icon>
                <ion-icon name="icon-acessibilidade" *ngIf="e.casa.acess"></ion-icon>
                <ion-icon name="icon-fumante" *ngIf="e.casa.fum"></ion-icon>
                <ion-icon name="icon-wifi" *ngIf="e.casa.wifi"></ion-icon>
                <ion-icon name="icon-comida" *ngIf="e.casa.cozinha"></ion-icon>
                <ion-icon name="icon-bar" *ngIf="e.casa.bar"></ion-icon>
              </div>
              <div class="icon_list">
                <ion-icon name="icon-cartao" *ngIf="e.casa.cartao"></ion-icon>
                <ion-icon name="icon-dinheiro" *ngIf="e.casa.dinheiro"></ion-icon>
                <ion-icon *ngIf="e.coin" name="icon-vous"></ion-icon>
              </div>
            </div>
            <div class="bottom_list">
              <div style="display:table-cell;vertical-align:bottom;width:80px;">
                <div class="top"><div class="block"></div><div class="block"></div></div>
                <div class="date_list">
                  <div class="mes_list">{{e.mes}}</div>
                  <div class="dia_list">{{('0'+e.dia).slice(-2)}}</div>
                  <div class="hr_list">{{e.hr_ini}}</div>
                </div>
              </div>
              <div class="present_list">
                <div class="name_event">{{e.nome}}</div>
                <div class="name_create" id="c">{{e.nomeCriador}}</div>
                <div class="name_locale" id="l">{{e.cidade}}</div>
              </div>
            </div>
          </div>
        </ion-card>
      </div>
      <ion-card *ngIf="!carregando && !showCity">
        <img src="assets/indicar.png"/>
        <ion-card-content>
          <ion-card-title>
            Sentiu falta de algum evento ou lugar?
          </ion-card-title>
          <button ion-button block (click)="indicar()">Faça sua indicação</button>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="showCity">
        <img src="assets/indicar.png"/>
        <ion-card-content>
          <ion-card-title>
            Infelizmente a Vou ainda não chegou na sua cidade 😞
          </ion-card-title>
          <p>Indique, para nós, eventos ou lugares importantes da sua cidade.<br>Caso você queira ver eventos de outras cidades, basta acessar o filtro, ao lado do mapa, e selecionar a cidade desejada.</p>
          <button ion-button block (click)="indicar()">Faça sua indicação</button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
